<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Security-Policy" content="
      default-src 'self'; 
      style-src 'self'  http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/; 
      connect-src 'self' ws://localhost:8080/ http://localhost:3090/
    ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <title>🤖</title>
</head>

<body>
  <div class="container"></div>
</body>

</html>