$bg: #ededed;

body, html {
  background-color: $bg;
  color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  border-radius: 0 !important;
}

a.nav-link {
  padding: 0px 10px !important;
}

.circle{
  height: 15px;
  width: 15px;
  display: inline-block;
  border-radius: 100% !important;
}